:root {
    --board-size: 700px;
}

.board {
    height: var(--board-size);
    width: var(--board-size);
    margin: 0 auto;
    background-image: url("../assets/images/150.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.active-square-pool > * {
    height: calc(var(--board-size) / 8);
    width: calc(var(--board-size) / 8);
    background-color: green;
    border-radius: 50%;
    opacity: .7;
    z-index: 10000;
    position: absolute;
    cursor: pointer;
}

.piece {
    height: calc(var(--board-size) / 8);
    width: calc(var(--board-size) / 8);
    position: absolute; 
    cursor: pointer;

    background-repeat: no-repeat;
    background-size: cover;
}

.piece.active {
    background-color: rgb(255, 255, 153);
}

.piece.br {
    background-image: url("../assets/images/br.png");
}

.piece.bb {
    background-image: url("../assets/images/bb.png");
}

.piece.bn {
    background-image: url("../assets/images/bn.png");
}

.piece.bk {
    background-image: url("../assets/images/bk.png");
}

.piece.bq {
    background-image: url("../assets/images/bq.png");
}

.piece.bp {
    background-image: url("../assets/images/bp.png");
}

.piece.wr {
    background-image: url("../assets/images/wr.png");
}

.piece.wb {
    background-image: url("../assets/images/wb.png");
}

.piece.wn {
    background-image: url("../assets/images/wn.png");
}

.piece.wk {
    background-image: url("../assets/images/wk.png");
}

.piece.wq {
    background-image: url("../assets/images/wq.png");
}

.piece.wp {
    background-image: url("../assets/images/wp.png");
}

/*row 1*/
.square-00 {
    transform: translate(0%, 0%);
}

.square-10 {
    transform: translate(100%, 0%);
}

.square-20 {
    transform: translate(200%, 0%);
}

.square-30 {
    transform: translate(300%, 0%);
}

.square-40 {
    transform: translate(400%, 0%);
}

.square-50 {
    transform: translate(500%, 0%);
}

.square-60 {
    transform: translate(600%, 0%);
}

.square-70 {
    transform: translate(700%, 0%);
}

/*row 2*/
.square-01 {
    transform: translate(0%, 100%);
}

.square-11 {
    transform: translate(100%, 100%);
}

.square-21 {
    transform: translate(200%, 100%);
}

.square-31 {
    transform: translate(300%, 100%);
}

.square-41 {
    transform: translate(400%, 100%);
}

.square-51 {
    transform: translate(500%, 100%);
}

.square-61 {
    transform: translate(600%, 100%);
}

.square-71 {
    transform: translate(700%, 100%);
}

/*row 8*/
.square-07 {
    transform: translate(0%, 700%);
}

.square-17 {
    transform: translate(100%, 700%);
}

.square-27 {
    transform: translate(200%, 700%);
}

.square-37 {
    transform: translate(300%, 700%);
}

.square-47 {
    transform: translate(400%, 700%);
}

.square-57 {
    transform: translate(500%, 700%);
}

.square-67 {
    transform: translate(600%, 700%);
}

.square-77 {
    transform: translate(700%, 700%);
}

/*row 7*/
.square-06 {
    transform: translate(0%, 600%);
}

.square-16 {
    transform: translate(100%, 600%);
}

.square-26 {
    transform: translate(200%, 600%);
}

.square-36 {
    transform: translate(300%, 600%);
}

.square-46 {
    transform: translate(400%, 600%);
}

.square-56 {
    transform: translate(500%, 600%);
}

.square-66 {
    transform: translate(600%, 600%);
}
.square-76 {
    transform: translate(700%, 600%);
}

/*row 6*/
.square-02 {
    transform: translate(0%, 200%);
}

.square-12 {
    transform: translate(100%, 200%);
}

.square-22 {
    transform: translate(200%, 200%);
}

.square-32 {
    transform: translate(300%, 200%);
}

.square-42 {
    transform: translate(400%, 200%);
}

.square-52 {
    transform: translate(500%, 200%);
}

.square-62 {
    transform: translate(600%, 200%);
}

.square-72 {
    transform: translate(700%, 200%);
}

/*row 5*/
.square-03 {
    transform: translate(0%, 300%);
}

.square-13 {
    transform: translate(100%, 300%);
}

.square-23 {
    transform: translate(200%, 300%);
}

.square-33 {
    transform: translate(300%, 300%);
}

.square-43 {
    transform: translate(400%, 300%);
}

.square-53 {
    transform: translate(500%, 300%);
}

.square-63 {
    transform: translate(600%, 300%);
}

.square-73 {
    transform: translate(700%, 300%);
}

/*row 4*/
.square-04 {
    transform: translate(0%, 400%);
}

.square-14 {
    transform: translate(100%, 400%);
}

.square-24 {
    transform: translate(200%, 400%);
}

.square-34 {
    transform: translate(300%, 400%);
}

.square-44 {
    transform: translate(400%, 400%);
}

.square-54 {
    transform: translate(500%, 400%);
}

.square-64 {
    transform: translate(600%, 400%);
}

.square-74 {
    transform: translate(700%, 400%);
}

/*row 3*/
.square-05 {
    transform: translate(0%, 500%);
}

.square-15 {
    transform: translate(100%, 500%);
}

.square-25 {
    transform: translate(200%, 500%);
}

.square-35 {
    transform: translate(300%, 500%);
}

.square-45 {
    transform: translate(400%, 500%);
}

.square-55 {
    transform: translate(500%, 500%);
}

.square-65 {
    transform: translate(600%, 500%);
}

.square-75 {
    transform: translate(700%, 500%);
}

